<h1>Salut à toi {{ visiteur }}</h1>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h2>Mes appareils</h2>
			<ul class="list-group">
				<app-appareil appareilName="'Machine à laver'" [appareilStatus]="'éteint'"></app-appareil>
				<app-appareil appareilName="Ordinateur" [appareilStatus]="'allumé'"></app-appareil>
				<app-appareil appareilName="Télévision" [appareilStatus]="'éteint'"></app-appareil>
			</ul>
			<button class="btn btn-success" 
			[disabled]="!isAuth"
			(click)="onSwitch()">Tout allumer</button>
		</div>
	</div>	
</div>

